<html>
  <head>
    <title>Andrew's Project</title>
  </head>
  <body>
    <h1>EE551 Final Project - Andrew Amerman<br>Flipped Image</h1>
    <img src="{{ url_for('video_feed') }}">
     <form action="/">
            <input type="submit" value="Return Home" />
        </form>
     <form action="/rotate-left">
            <input type="submit" value="Rotate Image Left" />
        </form>
        <form action="/rotate-right">
            <input type="submit" value="Rotate Image Right" />
        </form>
        <form action="/grey-scale">
            <input type="submit" value="Convert to Greyscale" />
        </form>
        <form action="/motion-detection">
            <input type="submit" value="Enable Motion Detection" />
        </form>
           
  </body>
</html>
